{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "endOfLine": "lf",
  "tabWidth": 4,
  "useTabs": false,
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
