:host {
  --md-primary-tab-container-color: var(--md-dialog-container-color, var(--md-sys-color-surface-container-high));
}
.content,
.section,
.row {
  display: flex;
  gap: 8px;
}

.section,
.column {
  flex-direction: column;
}

.column {
  padding-bottom: 0;
}

md-tabs {
  width: 100%;
}

[role='tabpanel'] {
  padding: 1rem 1rem 0 1rem;

  &[hidden] {
    display: none;
  }
}

.row > * {
  flex: 1;
}
