:host {
  --md-primary-tab-container-color: var(--md-dialog-container-color, var(--md-sys-color-surface-container-high));
}
.content,
.row {
  display: flex;
  gap: 8px;
}

.row {
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
}

.grid[hidden] {
  display: none;
}

.content,
.column {
  flex-direction: column;
}

.column {
  padding-bottom: 0;
}

md-tabs {
  width: 100%;
}
